.idea/.name
.idea/encodings.xml
.idea/HelloWorld.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/dictionaries/bianzexin.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/scopes/scope_settings.xml
app/__init__.pyc
app/views.pyc
Data-Spider/WuLiangYe.csv
lottery/bluenumdata.csv
lottery/lotteryData.txt
lottery/newdata.txt
lottery/num.txt
lottery/rednum1data.csv
lottery/rednum2data.csv
lottery/rednum3data.csv
lottery/rednum4data.csv
lottery/rednum5data.csv
lottery/rednum6data.csv
